includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 6
  paths:
    - goya24.php
    - uninstall.php
    - includes
  scanFiles:
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
  bootstrapFiles:
    - tests/phpstan-bootstrap.php
